*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  margin-bottom: 40px;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.body-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 86px;
}

.section {
  display: flex;
  flex-direction: column;
}

.section-small {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  max-width: 1022px;
  margin-bottom: 30px;
}

.line {
  margin-top: 40px;
  margin-bottom: 20px;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px red solid;
  width: 1022px;
  height: 680px;
}

.comment-section1 {
  display: flex;
  flex-direction: row;
  width: 1022px;
  height: 40px;
  border: 2px solid yellow;
  padding-bottom: 40px;
}

.numberOfComments {
  display: flex;
  align-items: center;
  width: 190px;
  height: 35px;
  margin-top: 2px;
}

.numOfCom {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin: 0 auto;
  text-decoration: underline;
  opacity: 1;
}

.numSpan {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  opacity: 0.4;
}

.filter {
  width: 200px;
  height: 20px;
  margin-left: 55px;
  margin-top: 8px;
}

.select {
  display: flex;
  align-items: center;
  width: 120px;
  height: 20px;
  margin-left: 55px;
  margin-top: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;

  color: #000000;

  opacity: 0.4;
}

.selectText {
  margin-right: 10px;
  padding: 0;
}

.comment-body {
  display: flex;
  flex-direction: row;
  width: 1022px;
  height: 110px;
  border: 2px solid green;
}

.photo {
  width: 110px;
  height: 110px;
  border: 2px solid rgb(17, 0, 255);
}

.form-group {
  display: flex;
  flex-direction: column;
}

#message {
  width: 688px;
  height: 61px;
}

.comment-field {
  width: 1022px;
  height: 490px;
  border: 2px solid orange;
}

.btn {
  background-color: #6668be;
  cursor: pointer;
  width: 213px;
  height: 61px;
}

.filter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;

  opacity: 0.4;
}
